@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
   --main-color:#8e44ad;
   --red:#e74c3c;
   --orange:#f39c12;
   --light-color:#888;
   --light-bg:#eee;
   --black:#2c3e50;
   --white:#fff;
   --border:.1rem solid rgba(0,0,0,.2);
}

.homeimage{
    width: 437px;
    height: 417px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.td1{
   width: 40%;
}
.td2{
   width: 60%;
   top: 10%;
   overflow-clip-margin:unset;
   color: #2C3F53;
   font-size: 23px;
   font-weight: 400;
   line-height: 46.08px;
   word-wrap: break-word;
}
 h1{
color: #8E44AD;
font-size: 70px;
font-weight: 1000px;
line-height: 102.4%;
}
.box{
   width: 607px;
   height: 850px;
   flex-shrink: 0;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   background: #ffffff;
   margin: 30px 159px 70px 200px;
}
.box2{
   width: 150px;
   height: 100px;
   flex-shrink: 0;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   background: #ffffff;
   margin: 30px 159px 70px 200px;
}
.box1{
   width: 607px;
   height: 420px;
   flex-shrink: 0;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   background: #ffffff;
   margin: 30px 159px 70px 200px;
}
.test{
   width: 607px;
   height: 500px;
   flex-shrink: 0;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   background: #ffffff;
   margin: 30px 159px 70px 200px;
}
.test2{
   width: 300px;
   height: 250px;
   flex-shrink: 0;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   background: #ffffff;
   margin: 30px 159px 70px 200px;
}
.blank{
   width: 450px;
   height: 30px;
   flex-shrink: 0;
   background: #bab8b8;
}




*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

*::selection{
   background-color: var(--main-color);
   color:#fff;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
   height: .5rem;
}

html::-webkit-scrollbar-track{
   background-color: transparent;
}

html::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

body{
   background-color: var(--light-bg);
   padding-left: 30rem;
}

.dark #changecolor {

     color: #fff;
   --light-color:#aaa;
   --light-bg:#333;
   --black:#fff;
   --white:#222;
}

body.dark{

   --light-color:#aaa;
   --light-bg:#333;
   --black:#fff;
   --white:#222;
   --border:.1rem solid rgba(255,255,255,.2);
}

body.active{
   padding-left: 0;
}

section{
   padding:2rem;
   margin: 0 auto;
   max-width: 1200px;
}

.heading{
   font-size: 2.5rem;
   color:var(--black);
   margin-bottom: 2.5rem;
   border-bottom: var(--border);
   padding-bottom: 1.5rem;
   text-transform: capitalize;
}

.inline-btn1,
.inline-option-btn1,
.inline-option-btn,
.inline-delete-btn1,
.btn1,.btn2,
.delete-btn1,.delete-btn2,
.option-btn1,.option-btn2{
   margin-left: 8px;
   border-radius: .5rem;
   color:#fff;
   font-size: 1.8rem;
   cursor: pointer;
   text-transform: capitalize;
   padding:0.5rem 0.5rem;
   text-align: center;
   margin-top: 1rem;
}
.btn1{
   margin-left: 25px;
   display: block;
   width: 80%;
}
.inline-btn4{
   margin-left: 10px;
   border-radius: .5rem;
   text-align: center;
   color: #eee;
   width: 220px;
   height: 40px;
   font-size: 1.5rem;
   cursor: pointer;
   text-transform: capitalize;
   padding:0.5rem 0.5rem;
   text-align: center;
   margin-top: 1rem;
}
.inline-btn1 a,
.inline-btn4 a{
   color: #eee;
}
.btn2{
    margin-left: 25px;
    display: block;
    width: 80%;
}

.delete-btn,
.option-btn{
   display: block;
   width: 100%;
}

.inline-btn1,
.inline-btn2,
.inline-btn3,
.inline-btn4,
.inline-option-btn,
.inline-delete-btn{
   display: inline-block;
}

.btn1,.btn2,
.inline-btn1,
.inline-btn2,
.inline-btn3,
.inline-btn4
{
   background-color: var(--main-color);
}

.option-btn,
.inline-option-btn1
.inline-option-btn2{
   background-color:var(--orange);
}

.delete-btn1,
.delete-btn2,
.inline-delete-btn1
.inline-delete-btn2{
   background-color: var(--red);
}

.inline-btn1:hover,
.inline-option-btn1:hover,
.inline-delete-btn1:hover,
.btn1:hover,
.delete-btn1:hover,
.option-btn1:hover
.inline-btn2:hover,
.inline-btn3:hover,
.inline-btn4:hover,
.inline-option-btn2:hover,
.inline-delete-btn2:hover,
.btn2:hover,
.delete-btn2:hover,
.option-btn2:hover{
   background-color: var(--black);
   color: var(--white);
}

.flex-btn1,
.flex-btn2{
   display: flex;
   gap: 1rem;
}

.header{
   position: sticky;
   top:0; left:0; right: 0;
   background-color: var(--white);
   z-index: 1000;
   border-bottom: var(--border);
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding: 1.5rem 2rem;
}

.header .flex .logo{
   font-size: 2.5rem;
   color: var(--black);
}

.header .flex .search-form{
   width: 50rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:1.5rem 2rem;
   display: flex;
   gap:2rem;
   height: 60px;
}

.header .flex .search-form input{
   width: 100%;
   font-size: 1.8rem;
   color:var(--black);
   background:none;
}

.header .flex .search-form button{
   background:none;
   font-size: 2rem;
   cursor: pointer;
   color:var(--black);
}

.header .flex .search-form button:hover{
   color: var(--main-color);
}

.header .flex .icons div{
   font-size: 2rem;
   color:var(--black);
   background-color: var(--light-bg);
   border-radius: .5rem;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   cursor: pointer;
   text-align: center;
   margin-left: .7rem;
}

.header .flex .icons div:hover{
   background-color: var(--black);
   color:var(--white);
}


#search-btn{
   display: none;
}

.side-bar{
   position: fixed;
   top: 0; left: 0;
   width: 30rem;
   background-color: var(--white);
   height: 100vh;
   border-right: var(--border);
   z-index: 1200;
}

.side-bar #close-btn{
   text-align: right;
   padding: 2rem;
   display: none;
}

.side-bar #close-btn i{
   text-align: right;
   font-size: 2.5rem;
   background:var(--red);
   border-radius: .5rem;
   color:var(--white);
   cursor: pointer;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   text-align: center;
}

.side-bar #close-btn i:hover{
   background-color: var(--black);
}

.side-bar .profile{
   padding:3rem 2rem;
   text-align: center;
}

.side-bar .profile .image{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: contain;
   margin-bottom: 1rem;
}

.side-bar .profile .name{
   font-size: 2rem;
   color:var(--black);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.side-bar .profile .role{
   font-size: 1.8rem;
   color: var(--light-color);
}

.side-bar .navbar a{
   display: block;
   padding: 2rem;
   font-size: 2rem;
}

.side-bar .navbar a i{
   margin-right: 1.5rem;
   color:var(--main-color);
   transition: .2s linear;
}

.side-bar .navbar a span{
   color:var(--light-color);
}

.side-bar .navbar a:hover{
   background-color: var(--light-bg);
}


.side-bar.active{
   left: -30rem;
}

.home-grid .box-container{
   display: grid;
   
   grid-template-columns: repeat(auto-fit, 27.5rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.home-grid .box-container .test{
   
   background-color: var(--white);
   border-radius: .5rem;
   padding:2rem;
}

.home-grid .box-container .test.title{
   font-size: 2rem;
   color: var(--black);
   text-transform: capitalize;
}

.home-grid .box-container .test .flex{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   margin-top: 2rem;
}

.home-grid .box-container .flex a{
   background-color: var(--light-bg);
   border-radius: .5rem;
   padding: 1rem 1.5rem;
   font-size: 1.5rem;
}

.home-grid .box-container .flex a i{
   margin-right: 1rem;
   color:var(--black);
}

.home-grid .box-container .flex a span{
   color:var(--light-color);
}

.home-grid .box-container .flex a:hover{
   background-color: var(--black);
}

.home-grid .box-container .flex a:hover span{
   color:var(--white);
}

.home-grid .box-container .flex a:hover i{
   color:var(--white);
}

.home-grid .box-container .tutor{
   padding: 1rem 0;
   font-size: 1.8rem;
   color:var(--light-color);
   line-height: 2;
}

.home-grid .box-container .likes{
   color:var(--light-color);
   font-size: 1.7rem;
   margin-top: 1.5rem;
}

.home-grid .box-container .likes span{
   color:var(--main-color);
}

.about .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:1.5rem;
}

.about .row .image{
   flex: 1 1 40rem;
}

.about .row .image img{
   width: 100%;
   height: 50rem;
}

.about .row .content{
   flex: 1 1 40rem;
}

.about .row .content p{
   font-size: 1.7rem;
   line-height: 2;
   color: var(--light-color);
   padding: 1rem 0;
}

.about .row .content h3{
   font-size: 3rem;
   color:var(--black);
   text-transform: capitalize;
}

.about .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   justify-content: center;
   align-items: flex-start;
   margin-top: 3rem;
}


.reviews .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.reviews .box-container .test{
   border-radius: .5rem;
   height: 300px;
   width: 270px;
   margin-left: 30px;
   background-color: var(--white);
   padding: 2rem;
}

.reviews .box-container .test p{
   line-height: 1.7;
   font-size: 1.7rem;
   color: var(--light-color);
}

.reviews .box-container .test .student{
   margin-top: 2rem;
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.reviews .box-container .test .student img{
   height: 5rem;
   width: 5rem;
   object-fit: cover;
   border-radius: 50%;
}

.reviews .box-container .test .student h3{
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .3rem;
}

.reviews .box-container .test .student .stars{
   font-size: 1.5rem;
   color:var(--orange);
}

.courses .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.courses .box-container .test{
   border-radius: .5rem;
   background-color: var(--white);
   padding: 2rem;
   border-radius: .5rem;
   height: 410px;
   width: 270px;
   margin-left: 30px;
}

.courses .box-container .test .tutor{
   display: flex;
   align-items: center;
   gap: 1.5rem;
   margin-bottom: 2.5rem;
}

.courses .box-container .test .tutor img{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   object-fit: cover;
}

.courses .box-container .test .tutor h3{
   font-size: 1.8rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.courses .box-container .test .tutor span{
   font-size: 1.3rem;
   color:var(--light-color);
}

.courses .box-container .test .thumb{
   position: relative;
}

.courses .box-container .test .thumb span{
   position: absolute;
   top:1rem; left: 1rem;
   border-radius: .5rem;
   padding: .5rem 1.5rem;
   background-color: rgba(0,0,0,.3);
   color: #fff;
   font-size: 1.5rem;
}

.courses .box-container .test .thumb img{
   width: 100%;
   height: 20rem;
   object-fit: cover;
   border-radius: .5rem;
}

.courses .box-container .test .title{
   font-size: 2rem;
   color: var(--black);
   padding-bottom: .5rem;
   padding-top: 1rem;
}

.courses .more-btn{
   text-align: center;
   margin-top: 2rem;
}


.user-profile .info{
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   height: 500px;
}

.user-profile .info .user{
   text-align: center;
   margin-bottom: 2rem;
   padding: 1rem;
}

.user-profile .info .user img{
   height: 15rem;
   width: 15rem;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 1rem;
}

.user-profile .info .user h3{
   font-size: 3rem;
   color: var(--black);
}

.user-profile .info .user p{
   font-size: 1.7rem;
   color: var(--light-color);
   padding: .1rem 0;
}
.user-profile .info .user a{
   font-size: 1.7rem;
   padding: 2rem, 2rem ;
}

.user-profile .info .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   justify-content: left;
   align-items: flex-start;
}

.user-profile .info .box-container .box2{
   background-color: var(--light-bg);
   flex: 1 1 25rem;
   margin-left: 50px;
   width: 250px;
}

.user-profile .info .box-container .box2 .flex{
   display: flex;
   align-items: left;
   gap: 2rem;
   margin-bottom: 1rem;
}

.user-profile .info .box-container .box2 .flex i{
   font-size:2rem;
   color: var(--white);
   background-color: var(--black);
   text-align: center;
   border-radius: .5rem;
   height: 4.5rem;
   width: 5.1rem;
   line-height: 4.9rem;
}

.user-profile .info .box-container .box2 .flex span{
   font-size: 2.5rem;
   color: var(--main-color);
}

.user-profile .info .box-container .box2 .flex p{
   color: var(--light-color);
   font-size: 1.7rem;
}

.contact .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.contact .row .image{
   flex: 1 1 50rem;
}

.contact .row .image img{
   width: 100%;
}

.contact .row form{
   flex: 1 1 30rem;
   background-color: var(--white);
   padding: 2rem;
   text-align: center;
}

.contact .row form h3{
   margin-bottom: 1rem;
   text-transform: capitalize;
   color:var(--black);
   font-size: 2.5rem;
}

.contact .row form .boxes{
   width: 100%;
   border-radius: .5rem;
   background-color: var(--light-bg);
   margin: 1rem 0;
   padding: 1.4rem;
   font-size: 1.8rem;
   color: var(--black);
}

.contact .row form textarea{
   height: 20rem;
   resize: none;
}

.contact .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
   margin-top: 3rem;
}

.contact .box-container .test1{
   text-align: center;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 3rem;
   height: 220px;
}

.contact .box-container .test1 i{
   font-size: 3rem;
   color: var(--main-color);
   margin-bottom: 1rem;
}

.contact .box-container .test1 h3{
   font-size: 2rem;
   color:var(--black);
   margin: 1rem 0;
}

.contact .box-container .test1 a{
   display: block;
   padding-top: .5rem;
   font-size: 1.8rem;
   color: var(--light-color);
}

.contact .box-container .test1 a:hover{
   text-decoration: underline;
   color:var(--black);
}
.login{
   width: 500px;
   padding: 20px;
   padding-top: 70px;
   padding-bottom: 50px;
   border-radius: 8px;
}
.login .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.login .row form{
   flex: 1 1 30rem;
   background-color: var(--white);
   padding: 2rem;
   text-align: center;
}
.login .row form h1{
   margin-bottom: 1rem;
   text-transform: capitalize;
   color:var(--#8E44AD);
   font-size: 6rem;
   margin-bottom: 20px;
}
.login .row form h3{
   text-align: left;
   text-transform: capitalize;
   color: var(--black);
   font-size: 2rem;
}
.inline-btn3{
   width: 100%;
   height: 45px;
   font-size: 2rem;
   text-align: center;
   color: #eee;
   border-radius: 4px;
}
h4{
   padding: 12px;
   color: #888;
   font-weight: 200px;
   font-size: 15px;
   text-align: left;
}
a{
   font-weight: 4000px;
   color: #8E44AD;
}

.login .row form .boxes{
   width: 100%;
   border-radius: .5rem;
   background-color: var(--light-bg);
   margin: 1rem 0;
   padding: 1.4rem;
   font-size: 1.8rem;
   color: var(--black);
}

.login .row form textarea{
   height: 20rem;
   resize: none;
}
.login1.homeimage{
   margin: 0%;
   top: 10px;
   margin-right: 0px;
   width: 50px;
   height: 150px;
   filter: contrast(50px);
}
.login1.td1{
   margin-top: 0%;
}
.sign{
   width: 500px;
   padding: 30px;
   padding-top: 50px;
   padding-bottom: 80px;
   background-color: var(--light-bg);
  
}
.sign .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.sign .row form{
   flex: 1 1 30rem;
   padding: 2rem;
   text-align: center;
   background-color: var(--white);
   border-radius: 4px;
}
.sign .row form h1{
   margin-bottom: 1rem;
   text-transform: capitalize;
   color:var(--#8E44AD);
   font-size: 4rem;
   margin-bottom: 20px;
}
.sign .row form h3{
   text-align: left;
   text-transform: capitalize;
   color: var(--black);
   font-size: 2rem;
}
.sign .row form .boxes{
   width: 100%;
   border-radius: .5rem;
   background-color: var(--light-bg);
   margin: 1rem 0;
   padding: 1.4rem;
   font-size: 1.8rem;
   color: var(--black);
}
.sign .row form textarea{
   height: 20rem;
   resize: none;
}

.footer{
   background-color: var(--white);
   border-top: var(--border);
   bottom: 0; left: 0; right: 0;
   text-align: center;
   font-size: 2rem;
   padding:2.5rem 2rem;
   color:var(--black);
   margin-top: 1rem;
   z-index: 1000;
}

.footer span{
   color:var(--main-color);
}


.teachers .search-tutor{
   margin-bottom: 2rem;
   border-radius: .5rem;
   background-color: var(--white);
   padding: 1.5rem 2rem;
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.teachers .search-tutor input{
   width: 100%;
   background: none;
   font-size: 1.8rem;
   color: var(--black);
}

.teachers .search-tutor button{
   font-size: 2rem;
   color: var(--black);
   cursor: pointer;
   background:none;
}

.teachers .search-tutor button:hover{
   color: var(--main-color);
}

.teachers .box-container{
   
   gap:1.5rem;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   justify-content: left;
   align-items: flex-start;
}

.teachers .box-container .test2{
   background-color: var(--white);
   border-radius: .5rem;
   display: inline-block;
   margin-left: 20px;
}

.teachers .box-container .offer{
   text-align: center;
}

.teachers .box-container .offer h3{
   font-size: 2.5rem;
   color: var(--black);
   text-transform: capitalize;
   padding-bottom: .5rem;
}

.teachers .box-container .offer p{
   line-height: 1.7;
   padding: .5rem 0;
   color: var(--light-color);
   font-size: 1.7rem;
}

.teachers .box-container .test2 .tutor{
   display: flex;
   align-items: center;
   gap:2rem;
   margin-bottom: 1.5rem;
}

.teachers .box-container .test2 .tutor img{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
}

.teachers .box-container .test2 .tutor h3{
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .2rem;
}
.teachers .box-container .test2  h3{
   font-size: 3rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.teachers .box-container .test2 .tutor span{
   font-size: 1.6rem;
   color: var(--light-color);
}

.teachers .box-container .test2 p{
   padding: .5rem 0;
   font-size: 1.7rem;
   color: var(--light-color);
}

.teachers .box-container .test2 p span{
   color: var(--main-color);
}

.teacher-profile .details{
   text-align: center;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
}

.teacher-profile .details .tutor img{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 1rem;
}

.teacher-profile .details .tutor h3{
   font-size: 2rem;
   color: var(--black);
}

.teacher-profile .details .tutor span{
   color: var(--light-color);
   font-size: 1.7rem;
}

.teacher-profile .details .flex{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   margin-top: 2rem;
}

.teacher-profile .details .flex p{
   flex: 1 1 20rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding: 1.2rem 2rem;
   font-size: 1.8rem;
   color: var(--light-color);
}

.teacher-profile .details .flex p span{
   color: var(--main-color);
}



@media (max-width:1200px){

   body{
      padding-left: 0;
   }

   .side-bar{
      left: -30rem;
      transition: .2s linear;
   }

   .side-bar #close-btn{
      display: block;
   }

   .side-bar.active{
      left: 0;
      box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
      border-right: 0;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #search-btn{
      display: inline-block;
   }

   .header .flex .search-form{
      position: absolute;
      top: 99%; left: 0; right: 0;
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--white);
      border-radius: 0;
      width: auto;
      padding: 2rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;
   }

   .header .flex .search-form.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .flex-btn{
      gap: 0;
      flex-flow: column;
   }

   .home-grid .box-container{
      grid-template-columns: 1fr;
   }

   .about .row .image img{
      height: 25rem;
   }

}
